<div class="owl-wrapper">
  <div class="owl-carousel">
    <% @tags.each do |tag| %>
      <%= link_to "", class: "tag-link", data: { id: tag.id } do %>
        <%= image_tag tag.image.link %>
        <div class="tag-name"><%= tag.name %></div>
      <% end %>
    <% end %>
  </div>
</div>

<% @tags.each do |tag| %>
  <div class="tag tag-<%= tag.id %> hide">
    <h3 class="main-tag-name"><%= tag.name %></h3>
    <div class="main-tag-description"><%= tag.description %></div>
    <div class="items">
      <% tag.items.each do |item| %>
        <div class="item-box">
          <%= link_to item.imgur_image.link, class: "item-link", data: { id: item.id }, rel: "prettyPhoto[#{tag.name}]", title: item.description do %>
            <%= image_tag item.imgur_image.link, alt: item.name %>
            <div class="item-name"><%= item.name %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
