<%= form_for :item, url: items_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.number_field :price, placeholder: "Price", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, placeholder: "Description", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.select :gallery_id, @galleries.collect { |g| [g.name, g.id] }, { include_blank: "Choose Gallery" }, class: "form-control" %>
  </div>
  <div class="checkbox">
    <label><%= f.check_box :for_sale, { checked: true } %> For Sale?</label>
  </div>
  <div class="form-group">
    <%= f.file_field :image %>
  </div>
  <%= f.submit "Create", class: "btn btn-gray margin-top-10" %>
<% end %>
