<% if action_name == "index" && controller_name == "pages" %>
  <div class="header-container" data-image=<%= image_path "header.jpg" %>>
    <div class="header-text">
      <h1>JL Photography</h1>
      <%= link_to "", "#", class: "fa fa-chevron-down fa-2x btn btn-gray"%>
    </div>
  </div>
<% end %>

<nav role="navigation" id="navbar">
  <div class="navbar">
    <ul>
      <li><%= link_to "About Me", about_path %></li>
      <li><%= link_to "Gallery", root_path %></li>
      <li><%= link_to "Contact Me", contact_path %></li>
    </ul>
    <% if request.subdomain == "admin" %>
      <hr>
      <ul>
        <% if current_user %>
          <li><%= link_to "Admins", admins_path %></li>
          <li><%= link_to "Items", items_path %></li>
          <li><%= link_to "Tags", tags_path %></li>
          <li><%= link_to "Edit User", "#", data: { toggle: "modal", target: ".edit-user-modal" } %></li>
          <li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", sign_in_path %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</nav>

<%= render partial: "admins/edit" if current_user %>
