<nav role="navigation">
  <%= link_to image_tag("meta.jpg", class: "img-circle"), root_path, class: "sidebar-brand" %>
  <div class="navbar">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About The Artist", about_path %></li>
      <li><%= link_to "Items For Sale", about_path %></li>
      <li><%= link_to "Previous Works", about_path %></li>
    </ul>
    <% if request.subdomain == "admin" %>
      <hr>
      <ul>
        <% if current_user %>
          <li><%= link_to "Admins", admins_path %></li>
          <li><%= link_to "Items", items_path %></li>
          <li><%= link_to "Tags", tags_path %></li>
          <li><%= link_to "Edit User", "#", data: { toggle: "modal", target: ".edit-user-modal" } %></li>
          <li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", sign_in_path %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</nav>

<%= render partial: "admins/edit" if current_user %>
